a:hover {
    background-color: yellow;
  }

body {
    background-color: #8c8c8c;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium; /* Schriftgröße */
  }

h1 {
    
    color: rgb(8, 8, 8);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: big; /* Schriftgröße */
    text-align: center;
  }

#box{
    float: left;
    width: 45%;
    min-height: 480px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    }

#box2{
    width: 45%;
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    }

#text{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
    }

#button{

    padding: 10px;
    width: auto;
    color: rgb(5, 5, 5);
    background-color: rgb(163, 231, 161);
    border: none;
    }

#meineTabelle{
    text-align: right;
    padding: 10px;
}